[run]
source = app
omit =
    app/__init__.py
    */migrations/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
show_missing = true
precision = 1

[html]
directory = htmlcov
